<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<%= form_with(url: "/search_user", method: :get) do |form| %>
  <%= form.select :search_option, options_for_select(["name", "cpf", "email", "phone"], params[:search_option]), include_blank: "Search for" %>
  <%= form.text_field :query, placeholder: "Pesquisar" %>
  <%= form.submit "Pesquisar" %>
<% end %>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>


<%= link_to "New user", new_user_path %>
